.section-contact-slider {
    margin-bottom: 100px;
    margin-bottom: clamp(1.875rem, -1.096rem + 11.88vw, 6.25rem);
}

.contact-slider {
    & .slick-list {margin-bottom: 35px;}
    
    display: block;
    & .collection {
        gap: 18px;

        &__img {max-height: 170px;}

        &__info {
            &-title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 16px;
                line-height: 137%;
                text-align: center;
                color: #363838e6;

                text-wrap: wrap;
            }
        }
    }
}

.contact-slide {
    max-width: 170px;
    padding-inline: 8px;
}

@include tablet {
    .contact-slider {
       & .slick-list {margin-bottom: 20px;}
    }
}