.blog-item__quote-single {
    margin-bottom: unset;
    padding: 40px 42px 29px;
    background: transparent;
    text-align: start;
    
    &-text {
        position: relative;
 
        @include line{
            width: 177px;
            left: 0;
            transform: none;
            background-color: #6d7278;
        }
    }
    &-author {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 137%;
        color: #363838e6;
    }
}

// .blog__tags-wrapper-single {gap: 24px;}

.blog-single {
    & .blog__tags {margin-bottom: 40px;}
    & .blog__tags-wrapper {gap: 24px;}

    &__links {
        margin-bottom: 35px;
        padding-block: 40px 30px;
        border-block: 1px solid var(--bg-second);

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__link {
        position: relative;
        width: 243px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 21px;
        

        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 200%;
        color: var(--text-muted);

        &::before {
            content: "";
            // position: absolute;
            // top: 50%;
            // transform: translateY(-50%);

            width: 23px;
            height: 23px;

            background-position: center;
            background-repeat: no-repeat;
        }

        &-prev {
            text-align: left;
            &::before {
                padding-left: 5px;
                left: 0;
                background-image: url("./../../../img/blog/arrow-left-lg.svg");
            }
        }
        &-next {
            flex-direction: row-reverse;
            text-align: right;
            &::before {
                padding-right: 5px;
                right: 0;
                background-image: url("./../../../img/blog/arrow-right-lg.svg");
            }
        }
    }
}

@include mobileS {
    .blog-single {
        & .blog__tags {margin-bottom: 30px;}
        & .blog__tags-wrapper {gap: 18px 20px;}

        &__links {
            margin-bottom: 30px;
            padding-block: 30px 20px;
            gap: 15px;
        }
        &__link {
            position: relative;
            width: 46%;
            gap: 14px;
            
            font-size: 12px;
            line-height: 1.5;
        }
    }
}