.blog__items {max-width: 730px;}

.blog-item {
    &__post {
        margin-bottom: 66px;

    }
    &__img {
        width: 100%;
        object-fit: cover;
        padding-bottom: 24px;
    }
    &__quote {
        margin-bottom: 50px;
    }
}


.blog-item{
    &__date,
    &__author,
    &__theme {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 200%;
        color: var(--text-muted);
    }
    &-info {
        margin-bottom: 9px;
        // font-family: var(--font-family);
        // font-weight: 600;
        // font-size: 14px;
        // line-height: 200%;
        // color: var(--text-muted);
    }
    &__title {
        @extend %title-font;
        font-size: 24px;
        line-height: 158%;

        &-post {margin-bottom: 6px;}
    }
    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 169%;
        color: var(--color-default);
    }
}

.blog-item__quote {
    padding: 54px 64px;
    background: #dfdfdf80;
    text-align: center;
    
    &-text {
        position: relative;
        margin-bottom: 23px;
        padding-bottom: 23px;

        font-family: var(--font-family);
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 158%;
        color: var(--color-scheme-dark-transparent);

        @include line
    }
    &-author {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 137%;
        color: #363838e6;
    }
}

.blog-item__popup {
    margin-bottom: 50px;

    &-link {
        display: block;
        position: relative;
        margin-bottom: 25px;
        height: 415px;

        background-color:rgba(86, 86, 86, 0.5);
        background-image: url('./../../../img/blog/video-overlay.jpg');
        background-blend-mode: multiply;
        background-position: center center; /* x y */
        background-size: cover;
        background-repeat: no-repeat;

        transition: all 0.3s ease-in;
        cursor: pointer;

        &:hover {background-color: transparent;}

        & img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
           
        }
    }
}


@media (max-width: 1100px) {
    .blog__items,
    .blog-item__slider {max-width: 1100px; width: 100%;}
    
}

@include mobile {
    .blog-item {
        &__post, &__quote, &__popup {margin-bottom: 40px;}
    }
}

@include mobileM {
    .blog-item__slide-img,
    .blog-item__slider .slick-arrow {height: 350px;}
}

@include mobileS{
    .blog-item {
        &__img {padding-bottom: 18px;}
        &__popup-link {margin-bottom: 16px; height: 240px;}
        &__post, &__quote, &__popup {margin-bottom: 30px;}

        &__date,
        &__author,
        &__theme {
            // font-size: 12px;
            line-height: 1.6;
        }

        &-info {margin-bottom: 6px;}
        &__title {font-size: 20px; line-height: 1.42;}
        &__text {font-size: 14px; line-height: 1.5;}

        &__quote {
            padding: 30px;
            &-text {
                margin-bottom: 14px;
                padding-bottom: 16px;
                font-size: 20px;
                line-height: 1.42;
            }
            &-author {font-size: 14px;}
        }
        &__slide-img,
        &__slider .slick-arrow {height: 240px;}
    }
}