.aside {
    // flex-shrink: 0;
    max-width: 350px;

    &__search {
        position: relative;
        margin-bottom: 44px;

        // border: 1px solid #383636;
        // border-radius: 20px;
        width: 100%;
        height: 40px;
        // background-color: ;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        &-input {
            width: 100%;
            padding: 6px 60px 6px 18px;

            border: 1px solid #383636;
            border-radius: 20px;

            &::placeholder {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 200%;
                color: var(--color-inverse);
            }
        }
        &-btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            // width: 17px;
            // height: 17px;
            padding: 11px 19px;
            // background-color: #8f8d8d;
            flex-shrink: 0;

            &-img {
                width: 17px;
                height: 17px;
            }
        }
    }
}

.blog-title {
    // font-family: var(--second-family);
    // font-weight: 700;
    // color: var(--color-scheme-dark-transparent);
    @extend %title-font;
    font-size: 16px;
    line-height: 144%;
}

.blog__category {
    margin-bottom: 48px;

    &-title {margin-bottom: 14px;}

    &-list li + li {margin-top: 12px;}
    &-link {
        display: block;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 169%;
        color: var(--color-default);
    }
}

.recent-posts {
    margin-bottom: 50px;
    &__title {margin-bottom: 24px;}

    &__list {
        font-family: var(--font-family);
        font-weight: 400;
    }

    &__list li + li {margin-top: 11px;}
    
    &__text {
        font-size: 16px;
        line-height: 169%;
        color: var(--color-default);
    }
    &-wrapper {
        font-size: 14px;
        line-height: 200%;
        color: var(--color-inverse);
    }
    &__author {color: var(--color-inverse);}
}

.blog__tags {
    margin-bottom: 60px;
    
    &-wrapper {
        display:flex;
        flex-wrap: wrap;
        gap: 12px 10px;
    }

    &-title {margin-bottom: 14px;}

    &-link {
        padding-inline: 16px;
        outline: 1px solid #45464780;
        border-radius: 14px;
        // width: 181px;
        height: 28px;

        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 200%;
        text-align: center;
        color: #8f8d8d;

        transition: all 0.3s ease-in;
        cursor: pointer;

        &--active,
        &:hover {
            border: #ffee3580;
            outline: #ffee3580;
            background: #ffee3580;
            color: var(--color-default);
        }
    }
}

@media (max-width: 1100px) {
    .aside {
        order: -1;
        width: 100%;
        max-width: unset;
 
        &__search {
            margin-bottom: 24px;
            
            &-input {
                height: 100%;
                // min-width: 200px;
                width: 140px;
                transition: all 0.2s ease-in;

                &:focus {
                    // min-width: 340px;
                    width: 340px;
                }
                &:not(:placeholder-shown){
                    // min-width: 340px;
                    width: 340px;
                }
            }
        }
        &-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    .blog__category,
    .recent-posts {
        width: 46%;
        margin-bottom: 24px;
    }
    .blog__category-title,
    .recent-posts__title {
        margin-bottom: 14px;
    }
    .blog__tags {width: 100%; margin-bottom: 24px;}
    .blog__social {width: 100%;}
}

@include mobileM {
    .blog__category,
    .recent-posts {
        width: 100%;
        margin-bottom: 24px;
    }
}

@include mobileS {
    .aside__search {width: 100%; max-width: unset;}
    .blog__category,
    .recent-posts {margin-bottom: 20px;}

    .blog__category {
        &-title {margin-bottom: 14px;}

        &-list li + li {margin-top: 10px;}
        &-link {
            font-size: 14px;
            line-height: 144%;
        }
    }

    .recent-posts {
        &__title {margin-bottom: 10px;}

        &__list li + li {margin-top: 11px;}
        
        &__text {
            font-size: 14px;
            line-height: 144%;
        }
        &-wrapper {
            font-size: 12px;
            line-height: 200%;
        }
    }

    .blog__tags {
        &-wrapper {flex-direction: column; align-items: center;}
        &-link {width: 90%;}
    }
}