.comments {
    &__title {
        margin-bottom: 12px;

        @extend %title-font;
        font-size: 20px;
        line-height: 155%;
    }
}

@include mobileS {
    .comments {
        &__title {
            margin-bottom: 8px;

            font-size: 18px;
            line-height: 1.4;
        }
    }
}