// @import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&display=swap');

// @font-face {
// 	font-family: OpenSans;
// 	font-display: swap;
// 	src: url("../fonts/open-sans-light-italic.woff2") format("woff2"), url("../fonts/open-sans-light-italic.woff") format("woff");
// 	font-weight: 300;
// 	font-style: normal;
// }

* {
	// border: 1px solid lightgray;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--color-default);

	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	font-family: var(--font-family);

	// чтобы фонт выглядел более тонким
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// text-wrap: balance;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

.muted  {
	color: var(--text-muted);
}


code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
