.blog-box {
    margin: 0 auto;
    margin-bottom: 46px;
    max-width: 1130px;

    &__title {
        margin: 0 auto 30px;

        @extend %title-font;
        font-size: 36px;
        line-height: 142%;
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

.blog-box {
    &__img-link {display: block; margin-bottom: 20px;}

    &__img {
        object-fit: cover;
        object-position: center;
    }

    &__item-title {
        @extend %title-font;
        font-size: 24px;
        line-height: 158%;
    }

    &__links {
        // position: relative;
        margin-bottom: 7px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 14px;
    }

    &__date,
    &__author,
    &__theme  {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 200%;
        color: var(--text-muted);
    }
        // &::before * + * {
        //     content: '';
        //     position: absolute;

        //     width: 1px;
        //     height: 16px;
        //     background-color: var(--text-muted);
        // }
}

@media (max-width: 1120px) {
    .blog-box {
        &__links {gap: 6px;}
        &__date,
        &__author,
        &__theme  {
            line-height: 142%;
            text-align: center;
        }
    }

}

@include mobile {
    .blog-box {
        &__title {
            margin: 0 auto 22px;

            font-size: 28px;
            // line-height: 142%;
        }
        &__item-title {
            font-size: 21px;
            line-height: 142%;
        }
        &__items {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__img, &__img-link {width: 100%;}
        &__links {gap: 6px 12px;}
    }
}

@include mobileM {
    .blog-box {
        &__links {gap: 6px;}
        // &__date,
        // &__author,
        // &__theme  {
        //     line-height: 142%;
        //     text-align: center;
        // }
    }
}

@include mobileS {
    .blog-box {
        margin-bottom: 30px;
        &__title {
            margin: 0 auto 20px;

            font-size: 24px;
            line-height: 110%;
        }
        &__item-title {
            font-size: 17px;
            line-height: 134%;
        }
        &__items {
            gap: 20px;
        }
    }
}

// .blog__box-links {
//     position: relative;
//     margin-bottom: 7px;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     gap: 14px;

//     &::before  {
//         content: '';
//         position: absolute;
//         top: 50%;
//         left: -10px;
//         transform: translate(-50%, -50%);
        
//         width: 10px;
//         height: 16px;
//         background-color: var(--text-muted);
//     }
        
//     & > * {
//         font-family: var(--font-family);
//         font-weight: 600;
//         font-size: 14px;
//         line-height: 200%;
//         color: var(--text-muted);
//     }
// }