.breadcrumbs {
    padding-block: 14px;
    background: #dfdfdf80;

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // gap: 6px;
        // &:last-child:hover  {cursor: none;}
    }
    &__item + &__item::before {
        content: "/";
    }

    &__item:last-child &__link {cursor: default;}

    &__link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: var(--color-default);
    }
    
}