.cta {
    padding: 170px 0 156px;
    margin-bottom: 79px;

    min-height: 616px;

    background-image: url('./../../img/cta/cta-bg-masked.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    

    &__content {
        max-width: 540px;
    }

    &__title {
        position: relative;
        padding-bottom: 22px;
        margin-bottom: 21px;

        font-size: 60px;
        line-height: 133%;
        @extend %title-font;
        color: var(--color-scheme-dark-transparent);

        @include line{
            left: 0;
            transform: translateX(0);
        }
    }
    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: var(--color-default);
    }
}

@include mobile {
    .cta {
        padding: 150px 0 80px;
        margin-bottom: 49px;
        min-height: 500px;

        &__title {
            padding-bottom: 18px;
            margin-bottom: 16px;

            font-size: 50px;
            line-height: 120%;
        }
    }
}

@include mobileM {
    .cta {
        padding: 0;
        height: 400px;
        min-height: unset;
        // margin-bottom: 49px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {font-size: 40px;}
    }
}

@include mobileS {
    .cta {
        height: 330px;
        margin-bottom: 30px;

        &__title {
            padding-bottom: 16px;
            margin-bottom: 14px;

            font-size: 32px;
        }
         &__text {font-size: 14px;}
    }
}


