.gallery__buttons {
    margin-bottom: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

@include mobileM {
    .gallery__buttons {
        flex-direction: column;
        gap: 15px;
    }
}