.info-email {
    margin-bottom: 22px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 14px;

    font-weight: 600;
    font-size: 14px;
    
    color: var(--color-black);
    line-height: 2;
    
    &::before {
        content: url('./../img/svg/envelope.svg');
    }
}