.breadcrumbs {background-color: transparent;}
.about-header{
    position: relative;
    margin-bottom: 98px;

    height: 400px;

    background-image: url('./../../../img/about/about-us-bg.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
                
        @extend %title-font;
        font-size: 60px;
        line-height: 133%;
    }
}